#container{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    padding: 50px;
    flex-wrap: wrap;
}

.sub{
    width: 500px;
    height: 500px;
    background-color: aliceblue;
    text-align: center;
    border: 5px solid black;
}
.sub:hover{
    box-shadow: 15px 10px lightslategray;
    cursor: pointer;
}

#p1{
    display: block;
}

#buttonOne{
    padding:10px;
}
#buttontwo{
    padding:10px;
}
#counting{
    font-size: 80px;
}