
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.body{
    margin-top: 5vh;
    width: 30vw;
    height: 40vh;
}


#writePost{
    text-align: center;
}

.posts{
    background-color:rgb(189, 215, 224);
    margin-top: 50px;
    width: 50vw;
    text-align: center;
}

#allPosts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postTitle{
    border: solid black 3px;
}

.timestamps{
    font-size: .7em;
}