
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.body{
    margin-top: 5vh;
    width: 30vw;
    height: 40vh;
}


#writePost{
    text-align: center;
}

.posts{
    background-color:rgb(189, 215, 224);
    margin-top: 50px;
    width: 50vw;
    text-align: center;
}

#allPosts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postTitle{
    border: solid black 3px;
}

.timestamps{
    font-size: .7em;
}

#profilePic{
    border-radius: 50%;
    width: 40%;
}


#followButton{
    width: 200px;
    padding: 5px;
    border-radius: 10%;
    font-weight: bold;
    box-shadow: 3px 2px black;
}

#profil{
    text-align: center;
    margin-top: 5vh;
}
#profInfo{
    margin-bottom:10vh;
}

.post{
    margin-bottom: 100px;
    background-color: aliceblue;
    padding-bottom: 50px;
    width: 50vw;
}
#userPosts{
    display:flex;
    flex-direction: column;
    align-items: center;
}