{% extends "network/layout.html" %}

{% load static %}
<!-- Before loading the script in the bottom you have to load the static filer-->

{% block body %}
    <div id ="allPosts">
    {% for i in posts %}
    <div class ="posts">
        <h2 class ="postTitle">{{ i.headline }}</h2>
        <p>@ <a href="{% url 'profile' i.poster.username %}"> {{i.poster.username}} </a> </p>
        <!--user is a foreign key, so in this field all user infos from USER are inside -->

        <p>{{ i.body }}</p>

        <h3> {{i.likes.all.count}} Likes</h3>

        {% if user not in i.likes.all %}

        <a href="{% url 'like' i.id%}"><button class ="likeB" >I like!</button></a>
        {% else %}
        <a href="{% url 'like' i.id%}"><button class ="likeB" >Unlike !</button></a>
        {% endif %}

        <p class ="timestamps">POSTED: {{ i.created }}</p>

    </div>
    {% endfor %}
    </div>
    {% endblock %}



    {% block script %}
    <script src="{% static 'network/base.js' %}"> </script>
    {% endblock %}

